#!/bin/bash
# ================================================================
#  [暫定対処]
#  proxyのアドレス／ポート及び、接続に使用するユーザー情報をENVに登録。
#  構築段階ではユーザー名やパスワードproxyサーバー名等は実名を避けて記載。
#  配備先:
#  /etc/profile.d/
# ================================================================
# 以下、proxy関連パラメータを変数として定義。構築段階では
export proxy_server={{ proxy_server }}
export proxy_port={{ proxy_port }}

# 以下、proxyの実態設定値()
export http_proxy="http://${proxy_server}:${proxy_port}"
export https_proxy=$http_proxy
export ftp_proxy=$http_proxy
# 以下、pipがproxyを参照する際に使用する変数(NET上の調査では大文字だった為、保険で登録)
export HTTP_PROXY=$http_proxy
export HTTPS_PROXY=$http_proxy
export FTP_PROXY=$http_proxy
# ismpのプロキシ接続時はComプロキシを使用しない。
export no_proxy=10.223.141.66
