# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# 自前resolving対象のip<->hostname
{% for host in server_hosts %}
{{ host }}
{% endfor %}
