# mariadbリポジトリ追加に依存関係があるパッケージのインストール
- name: install dependencies packages
  apt:
    name:
      - software-properties-common
      - dirmngr
      - ca-certificates
      - apt-transport-https

# Mariadbのリポジトリ一覧でdistributionと利用versionを入力してMirrorSite情報を取得する。
# https://mariadb.org/download/?t=repo-config&d=20.04+%22focal%22&v=10.8&r_m=yamagata-university
# 
# mariadbインストールリポジトリとして山形大学のkeyring files をtrusted.gpg.dに格納する。
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_key_module.html
- name: Add an Apt signing key, uses whichever key is at the URL
  ansible.builtin.apt_key:
    url: https://mariadb.org/mariadb_release_signing_key.asc
    state: present

# 信頼済みリポジトリである山形大学のmariadbミラーリポジトリを追加。
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_repository_module.html
- name: Add specified repository into sources list
  ansible.builtin.apt_repository:
    repo: deb https://ftp.yz.yamagata-u.ac.jp/pub/dbms/mariadb/repo/{{mariadb_varsion}}/ubuntu focal main
    state: present

- name: Apt update
  become: yes
  apt:
    update_cache: yes

# mariadb-serverインストール
- name: Install MariaDB Server
  become: yes
  apt:
    name:
      # その他、必要となるmariadbパッケージがあれば配列に追加。
      - mariadb-server
      - mariadb-client
    state: latest
    update_cache: yes

# TODO:my.cnfのupload処理

# 起動時有効化設定
- name: http service state
  become: yes
  service:
    name: mariadb
    state: started
    enabled: yes

