Acquire::http::proxy "http://{{ proxy_server }}:{{ proxy_port }}/";
Acquire::https::proxy "http://{{ proxy_server }}:{{ proxy_port }}/";
Acquire::ftp::proxy "http://{{ proxy_server }}:{{ proxy_port }}/";

