---

- server_os: 'Ubuntu 20.04'
- user_list:
  - { u_name: visualize, groups: 'lxd,sudo', pass: Visualize0033#, shell: /bin/bash, home: /home/visualize }

- native_packages:
  - snmp
  - snmpd
  - rrdtool
  - libmysql++-dev
  - libsnmp-dev
  - help2man
  - dos2unix
  - autoconf
  - dh-autoreconf
  - libssl-dev
  - librrds-perl
- php_packages:
  - php8.1
  - libapache2-mod-php8.1
  - php8.1-cli
  - php8.1-snmp
  - php8.1-mysql
  - php8.1-mbstring
  - php8.1-gd
  - php8.1-xml
  - php8.1-ldap
  - php8.1-gmp
  - php8.1-intl
  #- php8.1-recode
  #- php8.1-gettext
  #- php8.1-pear
  - php8.1-pspell
  - php8.1-memcache

- time_zone: Asia/Tokyo

- php_ini_path: /etc/php/8.1/cli/php.ini
- php_ini_template_path: etc/php/8.1/cli/php.ini.j2
- php_max_execution_time: 300
- php_memory_limit: 256M

# ansible-galaxy install mahdi22.mariadb_install 
- mariadb_version: "10.8"
- bind-address: '127.0.0.1'
- deny_remote_connections: true
- mysql_root_password: "TrustNo1"
- create_database: true
- database: cacti
- create_db_user: true
- db_user_name: cactiuser
- db_user_password: cactiuser
# 独自改修箇所:ミラーサイトとバージョンを同一URIで変数渡し
- mariadb_repo: 'deb https://ftp.yz.yamagata-u.ac.jp/pub/dbms/mariadb/repo/10.8/ubuntu'

# 以下、状況により利用するオプションをコメントアウト
#- use_proxy: yes
#  proxy_env:
#      http_proxy: http://proxy.local:8080/
#      https_proxy: http://proxy.local:8080/
#- import_sql_file: true
#    sql_file_name:
#      - sqlscript1.sql
#      - sqlscript2.sql
#      - sqlscriptN.sql
