---

- server_os: 'Ubuntu 20.04'

- admin_user: 
  - { u_name: visualize, groups: 'lxd,sudo', pass: Visualize0033#, shell: /bin/bash, home: /home/visualize }

- root_passwd: "Visualize0033!"

- native_packages:
  - snmp
  - snmpd
  - rrdtool
  - libmysql++-dev
  - libsnmp-dev
  - help2man
  - dos2unix
  - autoconf
  - dh-autoreconf
  - libssl-dev
  - librrds-perl
  - snmp-mibs-downloader
  - software-properties-common
  - git

- spine_packages:
  - build-essential
  - libmysqld-dev

- php_packages:
  - php8.1
  - libapache2-mod-php8.1
  - php8.1-cli
  - php8.1-snmp
  - php8.1-mysql
  - php8.1-mbstring
  - php8.1-gd
  - php8.1-xml
  - php8.1-ldap
  - php8.1-gmp
  - php8.1-intl
  - php8.1-pspell
  - php8.1-memcache

# php.ini関連の変数及び、php設定パラメータ
- php_ini:
  - { path: /etc/php/8.1/cli/php.ini, template_path: etc/php/8.1/cli/php.ini.j2 }
  - { path: /etc/php/8.1/apache2/php.ini, template_path: etc/php/8.1/apache2/php.ini.j2 }
- php_max_execution_time: 300
- php_memory_limit: 400M
  # 暫定->実行時のエラーのみ
- php_error_reporting: 'E_ERROR | E_WARNING | E_PARSE'


- time_zone: Asia/Tokyo

# ansible-galaxy mahdi22.mariadb_installのパラメータ
- mariadb_version: "10.8"
- bind-address: '127.0.0.1'
- deny_remote_connections: true
- mysql_root_password: "TrustNo1"
- create_database: true
- database: cactidb
- create_db_user: true
- db_user_name: cactiuser
- db_user_password: cactiuser
# 独自改修箇所:ミラーサイトとバージョンを同一URIで変数渡し
# ミラーサイトからパッケージが消失するケースあり。doc/use_of_ansible-galaxy.mdに該当するエラーメッセージ例と対処方法を記載。
- mariadb_repo: 'deb https://atl.mirrors.knownhost.com/mariadb/repo/10.8/ubuntu'
- import_sql_file: true
- sql_file_name:
  - { db: 'cactidb', file: '01_criate_cacti_tables.sql' }
  - { db: 'mysql', file: '02_insert_mysql_data_timezone.sql' }
  - { db: 'mysql ', file: '03_grant_select_parmission.sql' }
  - { db: 'cactidb', file: '04_alter_database_set_utfmb4.sql' }

# mariadb.conf
- character_set_server: utf8mb4
- collation_server: utf8mb4_unicode_ci
- innodb_buffer_pool_size: '1G'
- max_heap_table_size: '60.95M'
- tmp_table_size: '60.95M'
  #- max_heap_table_size: 70000000
- max_heap_table_size: 69999616
- tmp_table_size: 70000000

# cacti公式サイトより、バージョン指定でtarファイルをDL
- cacti_download_url: 'https://files.cacti.net/cacti/linux/cacti-1.2.22.tar.gz'
- cacti_unarchive_path: /var/www/cacti-1.2.22
- cacti_root_path: /var/www/cacti
- spine_version: '1.2.22'
