---

- server_hosts:
   - "10.223.164.100  orion01"
   - "10.223.164.101  orion02"
   - "10.223.164.102  orion_db01"
   - "10.223.164.108  cacti01"
   - "10.223.164.109  cacti02"
   - "10.223.164.112  cacti03"
   - "10.223.164.113  orion03"
   - "10.223.164.114  orion04"



- prompt: 31

- ntp_servers:
  - 10.39.64.3
  #- 10.39.72.3

#- dns:
#  - "10.39.175.12 10.39.119.76"

- proxy_server: 10.39.73.56
- proxy_port: 50080
- use_proxy: yes
- proxy_env: 
  - "http://{{ proxy_server }}:{{ proxy_port }}"
- php_memory_limit: 1G
- innodb_buffer_pool_size: 2G
- max_heap_table_size: 300000000
- tmp_table_size: 300000000
- join_buffer_size: 24MB
- sort_buffer_size: 2M
- falcon_sensor_src: /usr/local/packages/falcon-sensor_6.41.0-13804_amd64.deb
- falcon_sensor_dest: /tmp/falcon-sensor_6.41.0-13804_amd64.deb
- falcon_sensor_cid: DEC89C11D0A545DEBB1E48F901993CED-38
- falcon_sensor_tag: SYS7037544
