---

- name: Update and upgrade apt packages
  apt:
    upgrade: "yes"
    update_cache: yes

- name: install common packages
  apt:
    name:
      - git
      - traceroute
      - build-essential

- name: update /etc/hosts
  template:
    src: etc/hosts.j2
    dest: /etc/hosts

- name: create /etc/profile.d/prompt_color.sh
  template:
    src: etc/profile.d/prompt-color.sh.j2
    dest: /etc/profile.d/prompt_coler.sh
    owner: root
    group: root
    mode: 0644

#- name: specify DNS
#  lineinfile:
#    state: present
#    dest: /etc/systemd/resolved.conf
#    regexp: ^#DNS=$
#    line: 'DNS={{ dns }}'
#  register: dns_conf_result
